@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
}

body {
    padding-top: 9vh;
}


.header {
    position: fixed;
    top: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 10vw 0 13vw;
    height: 9vh;
    background: black;
    z-index: 100;
}



.navbar a {
    color: white;
    margin-inline: 30px;
    font-size: 20px;
    text-decoration: none;
}

.navbar .active {
    color: #fc3d05;
}
@media (min-width: 900px) and (max-width: 1150px){

    .logo img{
        width: 140px;
    }
    .navbar a{
        font-size: 14px;
        margin-inline: 16px;
    }
}
.home-content {
    background: url(/car_wash/assets/back.jpg) no-repeat center center/cover;
    height: 91vh;
    width: 100%;
}

.content-start {
    background: rgba(0, 0, 0, 0.5);
    height: 91vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    padding-inline: 15vw;
}

.start-back {
    color: white;
    width: 30vw;
}

.start-back h3 {
    font-weight: normal;
    font-size: 18px;
    margin-bottom: 25px;
}

.start-back h1 {
    font-size: 70px;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 25px;
}

.start-back p {
    font-weight: normal;
    font-size: 18px;
    margin-bottom: 25px;
    line-height: 1.6;
}

.start-back span {
    color: #fc3d05;
}

.start-button {
    display: flex;
}

.start-button button {
    border: 2px solid #fc3d05;
    height: 60px;
    padding-inline: 20px;
    margin-right: 10px;
    background: #fc3d05;
    font-size: 18px;
    font-weight: bold;
}

.start-button button:nth-child(2) {
    background: transparent;
    margin-right: 0;
    margin-left: 10px;
    font-weight: bold;
    color: #fc3d05;
}

@media (min-width: 900px) and (max-width: 1150px){
    .home-content{
        height: 45vh;
    }

    .content-start{
        height: 45vh;
        justify-content: center;
        background: rgba(0, 0, 0, 0.73);
    }

    .start-back {
        width: 100%;
    }

    .start-back h1 {
        font-size: 50px;
    }
}

.details-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 100px;
}

.details-information {
    margin-left: 60px;
    width: 25vw;
}

.details-content img {
    width: 38vw;
}

.details-item {
    color: black;
    font-size: 18px;
    margin-bottom: 0;
}

.details-item-head {
    color: black;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 0;
}

.deatils-summary {
    margin-top: 20px;
    line-height: 1.6;
    font-size: 19px;
}

.details-information button {
    border: 2px solid black;
    height: 60px;
    padding-inline: 20px;
    background: transparent;
    font-size: 18px;
    font-weight: bold;
    margin-top: 30px;
}

.service {
    background: rgb(246, 246, 246);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 100px;
}

.service-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 55px;
}

.service-content img {
    width: 30vw;
}

.service-details {
    width: 30vw;
    margin-left: 60px;
}

.service-items {
    display: flex;
    margin-bottom: 30px;
}

.service-icon a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background: #fc3d05;
    border-radius: 50%;
    font-size: 30px;
    color: black;
    text-decoration: none;
    z-index: 1;
    margin-right: 15px;
}

.service-information h3 {
    font-size: 22px;
    margin-bottom: 10px;
}

.service-information p {
    font-size: 16px;
    line-height: 1.7;
}

.service-book {
    background: url(/car_wash/assets/book.jpg) no-repeat center center/cover;
    width: 100%;
}

.service-book .details-item,
.service-book .details-item-head {
    color: white;
}

.service-book-cover {
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 100px;
    width: 100%;
}

.book-card-container {
    display: flex;
    justify-content: space-between;
    margin-top: 55px;
}


.book-card {
    background: white;
    padding: 20px;
    margin-inline: 14px;
    width: 16vw;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.book-card h1 {
    font-size: 70px;
}

.book-card hr {
    margin-top: 10px;
    width: 30px;
    height: 3px;
    background: black;
}

.book-card p {
    margin-top: 20px;
    text-align: center;
    font-size: 16px;
    line-height: 1.6;
}

.book-card button {
    border: 2px solid black;
    height: 55px;
    padding-inline: 20px;
    margin-top: 30px;
    background: transparent;
    font-size: 18px;
    font-weight: bold;
}

.service-rating {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 100px;
}

.rating-bar-container {
    margin-right: 50px;
}

.rating-bar {
    margin-top: 20px;
    margin-bottom: 20px;
}

.rating-bar h3 {
    font-weight: bold;
    font-size: 14px;
}

.bar {
    background: rgb(246, 246, 246);
    width: 28vw;
    height: 28px;
    margin-top: 5px;
}

.bar-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fc3d05;
    height: 100%;
    font-size: 13px;
    padding-inline: 15px;
}

.bar1 {
    width: 90%;
}

.bar2 {
    width: 85%;
}

.bar3 {
    width: 75%;
}

.bar4 {
    width: 80%;
}

.price {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 100px;
    background: rgb(37, 37, 37);
}

.price .details-item,
.price .details-item-head {
    color: white;
}

.price-card {
    background: white;
    padding: 25px;
    width: 20vw;
    margin-inline: 10px;
    height: fit-content;
}

.price-card p {
    font-style: italic;
    font-size: 11px;
    margin-top: 5px;
}

.price-box {
    background: rgb(246, 246, 246);
    padding: 10px 20px 20px 20px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.price-box sup {
    font-size: 18px;
}

.price-box h2 {
    font-size: 35px;
}

.price-box p {
    font-size: 15px;
    font-weight: bold;
    font-style: normal;
    color: rgb(96, 96, 96);
}

.card-offer {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-offer i {
    font-size: 25px;
    color: #fc3d05;
    margin-top: 4px;
    margin-right: 4px;
}

.card-offer p {
    font-size: 15px;
    font-style: normal;
}

.price-card button {
    background: #fc3d05;
    margin-top: 30px;
    width: 100%;
    height: 40px;
    border: none;
    font-weight: bold;
    font-size: 15px;
    border-radius: 7px;
}

.price-card-container {
    margin-top: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.service-count {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 80px 100px;
}

.count-element {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.count-element h2 {
    font-size: 50px;
    margin-bottom: 10px;
}

.count-element p {
    font-size: 18px;
}

.team-section {
    background: rgb(246, 246, 246);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 100px;
}

.profile-card {
    width: 19vw;
    margin-inline: 15px;
}

.profile-card img {
    width: 100%;
}

.profile-card h2 {
    font-size: 18px;
    margin-top: 15px;
}

.profile-card p {
    font-size: 13px;
    line-height: 1.8;
    margin-top: 15px;
}

.profile-social {
    margin-top: 20px;
}

.profile-social a {
    margin-right: 5px;
}

.profile-social i {
    color: black;
    font-size: 22px;
}

.testimonials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 100px;
}

.svgIcon {
    color: #fc3d05;
    font-size: 100px;
}

.review {
    position: relative;
    text-align: center;
    font-size: 25px;
    line-height: 1.7;
    color: rgb(63, 63, 63);
    font-weight: 300;
    top: -60px;
}

.client {
    display: flex;
    align-content: center;
    justify-content: center;
}

.client img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.client-details {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.client-details h2 {
    font-size: 16px;
}

.client-details p {
    font-weight: 300;
}

.main-footer{
    background: rgb(34, 34, 34);
    padding: 50px 0 50px 0;
    display: flex;
    justify-content: space-evenly;
}

.footer-logo-social{
    width: 16vw;
}

.footer-logo-social h1{
    color: #fc3d05;
    font-size: 45px;
    margin-bottom: 20px;
}

.footer-logo-social p{
    color: white;
    font-size: 15px;
    margin-bottom: 30px;
    line-height: 1.7;
}

.footer-social i{
    background: white;
    color: #fc3d05;
    font-size: 25px;
    height: 35px;
    width: 35px;
    text-align: center;
    vertical-align: middle;
    line-height: 35px;
    margin-inline: 2px;
}

.footer-link h3{
    color: white;
    margin-bottom: 25px;
    margin-top: 10px;
}

.footer-link-element{
    display: flex;
    color: white;
    text-decoration: none;
    align-items: center;
    font-weight: bold;
    font-size: 15px;
    margin-top: 10px;
}

.footer-link-element i{
    margin-right: 10px;
}

.contact i{
    color: #fc3d05;
    font-size: 30px;
}

.copyright{
    padding: 15px 0 15px 0;
    background: rgb(16, 16, 16);
    color: white;
    font-size: 13px;
    text-align: center;
}

.copyright span{
    color: #fc3d05;
}