@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
}

body {
    padding-top: 9vh;
}


.header {
    position: fixed;
    top: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 10vw 0 13vw;
    height: 9vh;
    background-color: black;
    z-index: 100;
}



.navbar a {
    color: white;
    margin-inline: 30px;
    font-size: 20px;
    text-decoration: none;
}

.navbar .active {
    color: #fc3d05;
}

.home-content {
    background: url(/car_wash/assets/back.jpg) no-repeat center center/cover;
    height: 91vh;
    width: 100%;
}


.content-start {
    background: rgba(0, 0, 0, 0.5);
    height: 91vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    padding-inline: 15vw;
}

.start-back {
    color: white;
    width: 30vw;
}

.start-back h3 {
    font-weight: normal;
    font-size: 18px;
    margin-bottom: 25px;
}

.start-back h1 {
    font-size: 70px;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 25px;
}

.start-back p {
    font-weight: normal;
    font-size: 18px;
    margin-bottom: 25px;
    line-height: 1.6;
}

.start-back span {
    color: #fc3d05;
}

.start-button {
    display: flex;
}

.start-button button {
    border: 2px solid #fc3d05;
    height: 60px;
    padding-inline: 20px;
    margin-right: 10px;
    background: #fc3d05;
    font-size: 18px;
    font-weight: bold;
}

.start-button button:nth-child(2) {
    background: transparent;
    margin-right: 0;
    margin-left: 10px;
    font-weight: bold;
    color: #fc3d05;
}

.details-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 100px;
}

.details-information {
    margin-left: 60px;
    width: 25vw;
}

.details-content img {
    width: 38vw;
}

.details-item {
    color: black;
    font-size: 18px;
    margin-bottom: 0;
}

.details-item-head {
    color: black;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 0;
}

.deatils-summary {
    margin-top: 20px;
    line-height: 1.6;
    font-size: 19px;
}

.details-information button {
    border: 2px solid black;
    height: 60px;
    padding-inline: 20px;
    background: transparent;
    font-size: 18px;
    font-weight: bold;
    margin-top: 30px;
}

.service {
    background-color: rgb(246, 246, 246);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 100px;
}

.service-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 55px;
}

.service-content img {
    width: 30vw;
}

.service-details {
    width: 30vw;
    margin-left: 60px;
}

.service-items {
    display: flex;
    margin-bottom: 30px;
}

.service-icon a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background: #fc3d05;
    border-radius: 50%;
    font-size: 30px;
    color: black;
    text-decoration: none;
    z-index: 1;
    margin-right: 15px;
}

.service-information h3 {
    font-size: 22px;
    margin-bottom: 10px;
}

.service-information p {
    font-size: 16px;
    line-height: 1.7;
}

.service-book {
    background: url(/car_wash/assets/book.jpg) no-repeat center center/cover;
    width: 100%;
}

.service-book .details-item,
.service-book .details-item-head {
    color: white;
}

.service-book-cover {
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 100px;
    width: 100%;
}

.book-card-container {
    display: flex;
    justify-content: space-between;
    margin-top: 55px;
}


.book-card {
    background: white;
    padding: 20px;
    margin-inline: 14px;
    width: 16vw;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.book-card h1 {
    font-size: 70px;
}

.book-card hr {
    margin-top: 10px;
    width: 30px;
    height: 3px;
    background: black;
}

.book-card p {
    margin-top: 20px;
    text-align: center;
    font-size: 16px;
    line-height: 1.6;
}

.book-card button {
    border: 2px solid black;
    height: 55px;
    padding-inline: 20px;
    margin-top: 30px;
    background: transparent;
    font-size: 18px;
    font-weight: bold;
}

.service-rating {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 100px;
}

.rating-bar-container {
    margin-right: 50px;
}

.rating-bar {
    margin-top: 20px;
    margin-bottom: 20px;
}

.rating-bar h3 {
    font-weight: bold;
    font-size: 14px;
}

.bar {
    background: rgb(246, 246, 246);
    width: 28vw;
    height: 28px;
    margin-top: 5px;
}

.bar-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fc3d05;
    height: 100%;
    font-size: 13px;
    padding-inline: 15px;
}

.bar1 {
    width: 90%;
}

.bar2 {
    width: 85%;
}

.bar3 {
    width: 75%;
}

.bar4 {
    width: 80%;
}

.price{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 100px;
    background: rgb(37, 37, 37);
}

.price .details-item,
.price .details-item-head {
    color: white;
}

.price-card{
    background: white;
    padding: 20px;
}

