/* .bg-red{
    background: red;
}

.bg-green{
    background: green;
}

.bg-yellow{
    background: yellow;
}
.bg-orange{
    background: orange;
} */


* {
    font-family: "Inter", sans-serif;
}

.banner-content h1 {
    font-size: 52px;
    font-weight: bold;
}

.banner-content p {
    font-size: 22px;
}

.banner-content h1 span {
    color: rgb(0, 132, 255);
    background: url(/bootsrap_practice/quick_start/images/Vector\ 63.png) no-repeat bottom;
}

.banner-content ul {
    list-style: none;
}

.banner-content ul li {
    font-size: 22px;
}

.banner-content ul li i {
    color: rgb(0, 132, 255);
}

.banner-content-button button {
    width: 50%;
    padding: 10px 0;
    border-radius: 5px;
}

.banner-content-button button:nth-child(1) {
    color: white;
    background: rgb(0, 132, 255);
    border-color: rgb(0, 132, 255);
}